#  Pandas Series Basics

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.4'

In [3]:
list1=[15,45,21,'Ranjana', 'Bhardwaj', 12,10,30]
list1

[15, 45, 21, 'Ranjana', 'Bhardwaj', 12, 10, 30]

In [4]:
print(list1)

[15, 45, 21, 'Ranjana', 'Bhardwaj', 12, 10, 30]

In [5]:
series1=pd.Series(list1)              # Convert List into Series
series1

0          15
1          45
2          21
3     Ranjana
4    Bhardwaj
5          12
6          10
7          30
dtype: object

In [6]:
type(series1)

pandas.core.series.Series

In [7]:
s=pd.Series([14,9,9,1994,'Ranjana', 'Bhardawaj', 'Harry', 'Bhardwaj',1998])                   # Create a Series
print(s)

0           14
1            9
2            9
3         1994
4      Ranjana
5    Bhardawaj
6        Harry
7     Bhardwaj
8         1998
dtype: object

In [8]:
empyt_series=pd.Series([])                   # Creatr A empty Series
print(empyt_series)

Series([], dtype: float64)

In [9]:
s1=pd.Series([14,9,9,1994,'Ranjana', 'Bhardawaj', 'Harry', 'Bhardwaj',1998], index=['a','b','c','d','e','f','g','h','i'])
s1

a           14
b            9
c            9
d         1994
e      Ranjana
f    Bhardawaj
g        Harry
h     Bhardwaj
i         1998
dtype: object

In [10]:
s1=pd.Series([14,9,9,1994,'Ranjana', 'Bhardawaj', 'Harry', 'Bhardwaj',1998])

In [11]:
s1

0           14
1            9
2            9
3         1994
4      Ranjana
5    Bhardawaj
6        Harry
7     Bhardwaj
8         1998
dtype: object

In [12]:
scalar_s= pd.Series(0.5)                                             # Create Scalar Series 
scalar_s

0    0.5
dtype: float64

In [13]:
scalar_s= pd.Series(0.5, index=[1,2,3,4,5])                          # Create Scalar Series using Index
scalar_s

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

In [54]:
dict_s= pd.Series({1001: 'I', 1002: 'Will', 1003: 'love', 1004: 'You', 1005: 'forever',1006:'Ranjana',1007: 'Bhardwaj'}) # Create series Using Dictionary
print("I don't care what you think about me, You are my first love and I will love you forever, and you will be mine always!")
dict_s

I don't care what you think about me, You are my first love and I will love you forever, and you will be mine always!

1001           I
1002        Will
1003        love
1004         You
1005     forever
1006     Ranjana
1007    Bhardwaj
dtype: object

In [17]:
s1

0           14
1            9
2            9
3         1994
4      Ranjana
5    Bhardawaj
6        Harry
7     Bhardwaj
8         1998
dtype: object

In [18]:
s1[4]

'Ranjana'

In [19]:

s1[5]

'Bhardawaj'

In [20]:
s1[6]

'Harry'

In [21]:
s1[7]

'Bhardwaj'

In [22]:
s1[1]

9

In [23]:
s1[0]

14

In [24]:
s1[2]

9

In [25]:
s1[4:]

4      Ranjana
5    Bhardawaj
6        Harry
7     Bhardwaj
8         1998
dtype: object

In [26]:
s1[-1::-1]

8         1998
7     Bhardwaj
6        Harry
5    Bhardawaj
4      Ranjana
3         1994
2            9
1            9
0           14
dtype: object

In [27]:
s1[0:8]

0           14
1            9
2            9
3         1994
4      Ranjana
5    Bhardawaj
6        Harry
7     Bhardwaj
dtype: object

In [28]:
se=pd.Series([45,12,30,700,450,890,210,10,20])
se

0     45
1     12
2     30
3    700
4    450
5    890
6    210
7     10
8     20
dtype: int64

In [29]:
se[5]

890

In [30]:
se[0:5]

0     45
1     12
2     30
3    700
4    450
dtype: int64

In [31]:
se[-1::-1]

8     20
7     10
6    210
5    890
4    450
3    700
2     30
1     12
0     45
dtype: int64

In [32]:
max(se)                                                          # Maximum in Series

890

In [33]:
min(se)                                                        # Minimum In Series

10

In [34]:
se[se>50]                                                       # Find grater than value

3    700
4    450
5    890
6    210
dtype: int64

In [35]:
se

0     45
1     12
2     30
3    700
4    450
5    890
6    210
7     10
8     20
dtype: int64

In [36]:
se[se<100]                                     # Find Less Than values

0    45
1    12
2    30
7    10
8    20
dtype: int64

In [37]:
se1=pd.Series([10,20,30,40,50,60,70,80,90])
se1

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [38]:
se+se1                                             # Add two Series

0     55
1     32
2     60
3    740
4    500
5    950
6    280
7     90
8    110
dtype: int64

In [39]:
se

0     45
1     12
2     30
3    700
4    450
5    890
6    210
7     10
8     20
dtype: int64

In [40]:
ss=pd.Series([12,45,10,77,55,78])

In [42]:
ss

0    12
1    45
2    10
3    77
4    55
5    78
dtype: int64

In [43]:
ss+se                                                 # Add two unequal data Values series

0     57.0
1     57.0
2     40.0
3    777.0
4    505.0
5    968.0
6      NaN
7      NaN
8      NaN
dtype: float64

In [55]:
dict_s

1001           I
1002        Will
1003        love
1004         You
1005     forever
1006     Ranjana
1007    Bhardwaj
dtype: object

In [56]:
type(dict_s)

pandas.core.series.Series

In [68]:
ranjana=(" Hey Ranjana You are My World! So, How are you? I know my love is one sided and you don't love me you love another one, and i don't exist in your life but you are my first love and will be always, I love you.....  ")
print(ranjana)

 Hey Ranjana You are My World! So, How are you? I know my love is one sided and you don't love me you love another one, and i don't exist in your life but you are my first love and will be always, I love you.....

In [69]:
print(ranjana)

 Hey Ranjana You are My World! So, How are you? I know my love is one sided and you don't love me you love another one, and i don't exist in your life but you are my first love and will be always, I love you.....